

.dashboard-container {
  
 
   padding-left: 250px;
    
  }

  
  .icon-style {
    font-size: 2rem;
    color: #1e3a5f;
  }
  
  .text-style {
    font-size: 1rem;
    color: #1e3a5f;
    margin: 0;
  }
  
  .title-style {
    font-size: 2rem;
    color: #1e3a5f;
  }
  .dashboard-container {
    padding: 20px;
  }
  
  .card-stats {
    margin-bottom: 10px; /* Reduced margin */
    padding: 10px; /* Added padding */
    height: auto; /* Adjusted height */
  }
  
  .icon-style {
    font-size: 1.5rem; /* Reduced icon size */
    color: #1e3a5f;
  }
  
  .text-style {
    font-size: 0.95rem; /* Reduced text size */
    color: #1e3a5f;
    margin: 0;
  }
  .card-footer{
    background-color: white !important; 
  }
  .left-text{
 text-align: left;
      
  }
  .custom-card-size {
    width: 90%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    /* Add other styling as required */
  }
  