/* General container settings */
.container {
  width: 100%;
 
  display: flex;
  flex-wrap: wrap; /* Allows form elements to wrap on smaller screens */

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.alert-div{
  margin-left:"250px";

}
.card {
  margin-top: 20px;
  width: 100%;

}

.card-header {
  background-color: #012970;
  color: white;
  font-family: "Roboto, sans-serif";
  padding: 15px 20px;
}

.card-title {
  color: white;
  margin: 0;
}

.card-body {
  padding: 20px;
  width: 100%;

}
.card-body-style{
  width: 200%;
}
.form-group {

  margin-bottom: 1rem;

}

/* subscriptionStyle.css */

/* Set height for AsyncSelect and textarea */
.css-13cymwt-control,
textarea, input {
  height: 45px; /* Adjust this value as needed */
}
.css-1u9des2-indicatorSeparator{
visibility: hidden;
}
.css-1jqq78o-placeholder, .css-1xc3v61-indicatorContainer{
  margin-top: -10px;
}
input:focus {
  border-color: blue; /* Change this to your desired border color */
  outline: none; /* Ensures no default focus outline */
  
  border-radius: 5px;
}
textarea:focus{
  border-color: blue; /* Change this to your desired border color */
  outline: none; /* Ensures no default focus outline */
  
  border-radius: 5px; 
}
.form-group label {
  font-family: "Roboto, sans-serif";
  flex-wrap: nowrap;
}

.form-group input,
.form-group textarea {
  font-family: "Roboto, sans-serif";
  width: 100%;
  padding: 0.5rem;
 
}

button {
  background-color: #012970;
  border: none;
  font-family: "Roboto, sans-serif";
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.loading {
  font-family: "Roboto, sans-serif";
  color: #012970;
  text-align: center;
  margin-top: 20px;
}

.submission-status {
  font-family: "Roboto, sans-serif";
  text-align: center;
  margin-top: 20px;
}

.submission-status.success {
  color: green;
}

.submission-status.error {
  color: red;
}

/* Responsive adjustments */
@media (max-width: 580px) {
  .container {
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    transform: translateX(-250px);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .toggle-button {
    display: flex;
  }
  .form-group input{
    
  flex-wrap: wrap;
  }
  .container {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allows form elements to wrap on smaller screens */
    
  }
  .alert-div {
    margin-left: 0;
  }
  
  .alert-div{
    margin-left: 0;
  }
}
@media (max-width: 1000px) {
  .form-main-content{
    margin-left: -200px;
    
  }
 
  .loading {
   text-align: left;
  }
}
@media (min-width: 1001px) {
  .form-main-content{
    margin-left: 100px;
    
  }
}
@media (min-width: 700px) and (min-height: 1024px) {
  .form-body{
    margin-top: -400px;
  }
 
}
@media(min-width: 1024px){
  .col-12{
    margin-left: 100px
  }
}
.flex-input-divs{
  display: flex;
  gap: 1rem;
}
.flex-input-sub-divs{
 flex: 1;
}

@media (max-width: 700px) {
  .flex-input-divs,
  .flex-input-sub-divs {
    display: block; /* This will stack the inputs on individual lines */
   
  }
  /* .card-body-style, .card-header{
    margin-left: 40px;
  } */
  .col-12{
    margin-left: 120px
  }

}

.async{

   
    border-color: black; 
   
  
  
}