.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Adjust the width as needed */
  background-color: #012970;
  padding-top: 20px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li {
  margin: 20px 15px;
}

.sidebar-nav li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.3s;
}

.sidebar-nav li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar img {
  width: 200px;
  height: 60px;
  margin-left: 25px;
  margin-top: -15px;
  margin-bottom: 20px;
  background-color: white;
}
